<div class="ued-single">
  <div class="post">

    <!-- .post-hd -->
    <div class="post-hd">
      <div class="post-info">
        <h1 class="post-title">
          <%= @product.try(:name)  %>
        </h1>
        <p class="post-extra">
          <label>
            Time：<em><%= l @product.try(:created_at) , :format => :long %></em>
          </label>
        </p>
      </div>
    </div>
    <!-- END .post-hd -->
    <div class="h-dotted-line"></div>

    <!-- .post-bd -->
    <div class="post-bd">
      <%= @product.try(:description).try(:html_safe)  %>
    </div>
    <!-- END .post-bd -->

    <!-- .post-op -->
    <div class="post-op">
    </div>
    <!-- END .post-op -->

    <div id="comments" class="disabled">
      <div class="comments-hd">

        <span class="hd-title">
          All Comments:
          <span class="highlight"><%=  @all_comments.try(:size) %></span>
        </span>

        <em class="v-line">|</em>

        <% if current_user %>
          <span class="hd-cur-user">
              Username：<em class="highlight"><%= current_user.email.split("@").first %></em> (<a class="logout" href="/logout" target="_self">Logout</a>)
          </span>
        <% else %>
          <span class="hd-social-login">
            Facebook Login：<a href="" title="Facebook Login" class="weibo-login" target="_self"><i class="sprites"></i>Facebook</a>
          </span>
        <% end %>

      </div>

      <div class="h-dotted-line"></div>

      <ul class="comment-list">
        <%= nested_comments @root_comments %>
      </ul>
    </div>
    <% if current_user %>
      <div id="respond">
        <%= render :partial => 'comments/form', :locals => {:commentable => @product} %>
      </div>
    <% else %>
      <div class="comment-promot not-login">You can comment after login~</div>
    <% end %>
  </div>
  <!-- .page-nav -->
  <div class="page-nav">
    <div class="pre-page page sprites">
      <% if @prev_product %>
        <%= link_to "", product_path(@prev_product.try(:id)) %>
      <% end %>
    </div>

    <div class="next-page page sprites">
      <% if @next_product %>
        <%= link_to "", product_path(@next_product.try(:id)) %>
      <% end %>
    </div>
  </div>
  <!-- END .page-nav -->
</div>
<% javascript 'product' %>